<h3>Welcome to Dashboard</h3>
<form method="post" action='/article'>
  Search article here: <br />
  <input type="text" name="searchtopic" placeholder="Please enter word/phrase of main article you need" required /> <br />
  <button type="submit">Submit</button>
  <br />
  <p><%= @description %></p>
</form>
