<!DOCTYPE html>
<html>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <head>
    <title>Micro Learning Application</title>
  </head>
  <body>
    <h1>Micro Learning App</h1>
    <p>This is an application that enables you to receive one article per day and read.</p>
  </body>
</html>
