<!DOCTYPE html>
<html>
  <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
  <head>
    <title>Micro Learning Application</title>
  </head>
  <body>
    <div class="homepage">
      <h1>Micro Learning App</h1>
      <div class="homepage-grid">
        <div class="homepage-left">
          <p id='welcome-text'>Welcome to Micro Learning App <br />
            After being our member, you will be <br />
            receiving one article per day for reading</p>
        </div>
        <div class="homepage-right">
          <form method='POST' action='/register_user'>
            Name:<br />
            <input id="form-input-box" type="text" name="name" required> <br />
            Email:<br />
            <input id="form-input-box" type="email" name="email" required><br />
            Password:<br />
            <input id="form-input-box" type="password" name="password" required><br />
            <br />
            <button type="submit">Sign Up</button>
          </form>
          <p>Already have an account?</p>
          <button type="submit">Login</button>
          <%# <button onClick=''>Login</button> %>
        </div>
      </div>
    </div>
  </body>
</html>
