<%=erb :'template', layout: false%>
<div class="homepage">
  <form method='POST' action='/login_user' id='login-form'>
    Email:<br />
    <input type="email" name="email" required><br />
    Password:<br />
    <input type="password" name="password" required><br />
    <br />
    <button id="centerbutton" type="submit">Log In</button>
  </form>
</div>
