<form method='POST' action='/register_user'>
  Name:<br />
  <input type="text" name="name" required> <br />
  Email:<br />
  <input type="email" name="email" required><br />
  Password:<br />
  <input type="password" name="password" required><br />
  <br />
  <input type="submit" value="Sign Up">
</form>
